<style>
li { margin: 2% 0 2% 0; }
</style>

<%= erb :partial_heading %>
<div style='margin: 20% 0 0 0;'>
<ul>

<li>We know things.</li>

<li>All the things.</li>

<li>Everywhere.</li>

<li>Worldwide 24/7/365</li>

<li><button id='discord'>apply</button></li>


</ul>
</div>
<%= erb :partial_trampstamp %>