<style>

</style>

<%= erb :partial_heading %>

<!-- <marquee direction="up" style='width: 100%; padding: 15% 0 0 0; height: 50%;' > -->
<div style='padding: 15% 0 0 0;'>
<h2 style='width: 100%; text-align: center; color: turquoise; text-shadow: 0 0 2px turquoise;'>A long time ago.  In an economy far far away...</h2>

<h3 style='width: 100%; text-align: center; color: gold;'>A long simmering dispute over advertising profit margins boiled over into open conflict.  The Company Owner - a hapless nerdowell from the outer regions tasks his manager to find an approach to compete with traditional advertising and thereby save the company.</h3>

<h2 style='width: 100%; text-align: center; color: gold; text-shadow: 0 0 2px gold; font-size: xx-large;'>...</h2>

<h3 style='width: 100%; text-align: center; color: gold;'>Leveraging the ancient arts of storytelling, the manager crafts a novel approach to brand development.  Ernestly fighting to save the job he loves.</h3>

<h3 style='width: 100%; text-align: center; color: gold;'>Our story begins.</h3>

<h1 style='width: 100%; text-align: center;'><button id='discord' style='font-size: x-large; padding: 0 2% 0 2%;' >characters wanted</button></h1>
</div>
<!-- </marquee> -->

<%= erb :partial_trampstamp %>