<% @chan = OBJ[:chan][params[:chan]] %>

<h3>
<span class='material-icons' style='color: red;'>place</span>
<span id='name'><%= @chan.attr[:name] %></span>
</h3>

<div id='desc'><%= ERB.new(@chan.attr[:franchise]).result(binding) %></div>

<h3>
<span>COST:</span>
<span style='padding: 0 2% 0 2%;'><%= @chan.attr[:cost] %></span>
<span>GP</span>
</h3>