<% @user = Z4.make(params[:user], :user); %>

<style>
#items { width: 100%; }
#item { width: 100% text-align: center; }
</style>

<h1 style='width: 100%; text-align: center;'>
<span class='material-icons'>toll</span><span id='gp'><%= @user.span[:gp] %></span>
</h1>

<div id='items'>
<p>content</p>
<p>channel</p>
<p>topic</p>
</div>

<div id='item'>
<datalist id="inputs">
<% Z4.query.terms.members.to_a.each do |e| %>
<option value='BUY '></option>
<% end %>
</datalist>
<h1 style='width: 100%; text-align: center;'>
<input type='text' list='inputs' id='input' placeholder='use your tokens...' style='width: 80%; font-size: large;'>
<button id='send' class='material-icons'>send</button>
</h1>
</div>