<h1 id='heading' style='width: 100%; text-align: left; position: fixed; top: 0; margin: 0;'>
<% if ENV.has_key?('DISCORD') %>
<a class='material-icons' href='<%= ENV['DISCORD']  %>' style='float: right; vertical-align: middle;'>support_agent</a>
<% end %>

<span style='display: inline-block; background-color: black; border-right: thin solid white; border-bottom: thin solid white;'>
<% if ENV.has_key?('HEADING') %>
<%= ENV['HEADING'] %>
<% end %>
</span>
</h1>
