<!-- background image -->
<img class='bg' src='<%= @app[:img] %>'>

<!-- app content -->
<div id='body'><%= @app[:body] %></div>

<!-- app contactor -->
<a href='<%= @app[:contact] %>'><%= @app[:button] %></a>