<% Z4.token[params[:user]].tokens.each_pair do |k, h| %>
<% if h[:month] == true && h[:week] == true && h[:day] == true && h[:long] == true && h[:short] == true %>
<% @s = 0 %>
<% elsif h[:month] == true && h[:week] == true && h[:day] == true && h[:long] == true && h[:short] == false %>
<% @s = 1 %>
<% elsif h[:month] == true && h[:week] == true && h[:day] == true && h[:long] == false && h[:short] == false %>
<% @s = 2 %>
<% elsif h[:month] == true && h[:week] == true && h[:day] == false && h[:long] == false && h[:short] == false %>
<% @s = 3 %>
<% elsif h[:month] == true && h[:week] == false && h[:day] == false && h[:long] == false && h[:short] == false %>
<% @s = 4 %>
<% end %>
<span class='box'><span class='material-icons' style='color: gold;'><%= Z4.star[@s] %></span><span><%= k %></span></span>
<% end %>

