<p><span class='material-icons' style='color: blue;'>backpack</span>We offer a collection of attractions and products based upon the personal preference of <em>real</em> local insiders for your review.</p>
<p><span class='material-icons' style='color: gold;'>psychology_alt</span>If you need more information, you should ask the person who showed you this.</p>
<p><span class='material-icons' style='color: green;'>co_present</span>Feel free to join the <button id='discord'>discord</button> and become a character yourself.</p>
<p><span class='material-icons' style='color: red;'>favorite</span>Share and Enjoy.</p>