<h3 style='width: 100%; text-align: center;'><span>How can we help?</span></h3>
<p class='h'><span class='hh'><span class='material-icons'>star</span><span><em>real</em> local places.</span></span></p>
<p class='h'><span class='hh'><span class='material-icons'>star</span><span><em>real</em> local favorites.</span></span></p>
<p class='h'><span class='hh'><span class='material-icons'>star</span><span><em>real</em> local opinion.</span></span></p>
<p class='h'><span class='hh'><span class='material-icons'>star</span><span><em>real</em> insider experience.</span></span></p>
<p><span class='material-icons' style='color: gold;'>psychology_alt</span>Actively seeking local Characters. Join the <button id='discord'>discord</button> for more information.</p>
<p><span class='material-icons' style='color: red;'>favorite</span>Share and Enjoy.</p>