<h3 style='width: 100%; text-align: center; margin: 0 0 2% 0;'><span>How can we help?</span></h3>
<h3 style='width: 100%; text-align: center; margin: 0 0 2% 0;'><span>We have</span></h3>
<h1 style='width: 100%; text-align: center; margin: 0 0 2% 0;'>
<select id='query' style='width: 80%; text-align: center; font-size: xx-large; padding: 0 4% 0 4%; border: thin outset gold; border-radius: 500px; background-color: black; color: gold;'>
<option value='info' selected disabled>ANSWERS...</option>
<% QUERY.keys.each do |e| %>
<option value='<%= e %>'><%= e %></option>
<% end %>
</select>
</h1>
<p style='width: 100%; text-align: center;'>
<button id='leaderboard' class='material-icons'>leaderboard</button>
<button id='areas' class='material-icons'>flag</button>
<button id='qr' class='material-icons'>qr_code</button>
<button id='info' class='material-icons'>lightbulb</button>
<button id='discord' class='material-icons'>support_agent</button>
</p>