<h1 style='width: 100%; text-align: center;'>
<button id='l' class='material-icons' style='font-size: xx-large;'>analytics</button>
<select id='query' style='text-align: center; font-size: xx-large;'>	
<option value='info' selected disabled>category</option>
<% QUERY.keys.each do |e| %>	
<option value='<%= e %>'><%= e %></option>
<% end %>
</select>
<button id='r' class='material-icons' style='font-size: xx-large;'>place</button>
</h1>
<script>
$(document).on('click','#l', function(ev){ ev.preventDefault(); window.location = "/board" })
$(document).on('click','#r', function(ev){ ev.preventDefault(); window.location = "/areas" })
</script>