<p style='width: 100%; text-align: center;'><span class='material-icons' style='color: gold;'>info</span>Below are catagories of member contribution. Without their work this network would not exist.  Why not stop into the <button id='discord'>discord</button> and thank them?</p>
<p style='width: 100%; text-align: center;'>
<span class='box'><span class='material-icons k'>alternate_email</span><span class='v'>tags.</span></span>
<span class='box'><span class='material-icons k'>star</span><span class='v'>victories.</span></span>
<span class='box'><span class='material-icons k'>workspace_premium</span><span class='v'>awards.</span></span>
</p>