<p><span class='material-icons' style='color: blue;'>backpack</span>Attractions and products based upon <em>real</em> insider local opinion.</p>
<p><span class='material-icons' style='color: gold;'>psychology_alt</span>Actively seeking local Characters. Join the <button id='discord'>discord</button> for more information.</p>
<p><span class='material-icons' style='color: red;'>favorite</span>Share and Enjoy.</p>