<h3 style='width: 100%; text-align: center;'>
<span>What are you looking for?</span>
</h3>
<div style='width: 100%; text-align: center;'>
<ul style='width: 80%; text-align: left;'>
<li><em>real</em> local places.</li>
<li><em>real</em> local favorites.</li>
<li><em>real</em> local opinion.</li>
<li><em>real</em> insider experience.</li>
</ul>
</div>
<p><span class='material-icons' style='color: gold;'>psychology_alt</span>Actively seeking local Characters. Join the <button id='discord'>discord</button> for more information.</p>
<p><span class='material-icons' style='color: red;'>favorite</span>Share and Enjoy.</p>