<h1 style='width: 100%; text-align: center;'>
<button id='l' class='material-icons' style='font-size: xx-large;'>analytics</button>
<select id='area' style='width: 50%; text-align: center; font-size: xx-large;'>	
<option value='none' selected disabled>serving...</option>
<% WIKI.gps.keys.each do |e| %>	
<option value='<%= e %>'><%= e.gsub("_"," ").split(",")[0] %></option>
<% end %>
</select>
<button id='r' class='material-icons' style='font-size: xx-large;'>favorite</button>
</h1>
<script>
$(document).on('click','#l', function(ev){ ev.preventDefault(); window.location = "/board" })
$(document).on('click','#r', function(ev){ ev.preventDefault(); window.location = "/" })
</script>