<p style='width: 100%; text-align: center; margin: 0; position: fixed; bottom: 0;'>
<span style='background-color: black; color: white;'><span style='color: red;'><%= Z4.emoji[:heart].raw %></span>
<span>A Free Range domain.</span>
<span class='material-icons' style='color: gold; font-size: small;'>copyright</span>
<span>2024</span>
</span>
</p>