<h1 id='heading' style='width: 100%; text-align: left; position: fixed; top: 0; margin: 0;'>
<% if ENV.has_key?('DISCORD') %>
<a class='material-icons box' href='<%= ENV['DISCORD']  %>' style='float: right; vertical-align: middle;'>support_agent</a>
<% end %>

<span class='box' style='display: inline-block;'>
<% if ENV.has_key?('HEADING') %>
<%= ENV['HEADING'] %>
<% end %>
</span>
</h1>
