<% @user = Z4.make(params[:user], :user); %>

<style>
#items { width: 100%; }
#item { width: 100% text-align: center; }
</style>

<div id='items'>
<% Z4.query.terms.members.to_a.each do |e| %>
<p>#<%= e %>! <%= @user.search(e) %></p>
<% end %>
</div>

<div id='item'>
<datalist id="inputs">
<% Z4.query.terms.members.to_a.each do |e| %>
<option value='#<%= e %>! '></option>
<% end %>
</datalist>
<h1 style='width: 100%; text-align: center;'>
<input type='text' list='inputs' id='input' placeholder='gain your experiance...' style='width: 80%; font-size: x-large;'>
<button id='send' class='material-icons'>send</button>
</h1>
</div>