<% @user = Z4.make(params[:user], :user); %>

<style>
#items { width: 100%; }
</style>

<div id='items'>
<% Z4.query.terms.members.to_a.each do |e| %>
<p>#<%= e %>! <%= @user.search(e) %></p>
<% end %
</div>

<div id='item'>
<datalist id="inputs">
<% Z4.query.terms.members.to_a.each do |e| %>
<option value='#<%= e %>! '></option>
<% end %>
</datalist>
<input type='text' list='inputs' id='input' placeholder=''>
<button id='send' class='material-icons'>send</button>
</div>